@model RusoCars.Models.Certification

    <p class="titulo">
        @(Model.CertificationTitle)
    </p>
    <div class="imagen">
        <img src="@(Model.Image.ImagePath)">
    </div>
    <div class="lineaRoja">
                        
    </div>
    <p class="descripcion">
        @(Model.Description)
    </p>