@model RusoCars.Models.Client

    <div class="imagen">
        <img src="@(Model.Image.ImagePath)">
    </div>
    <div class="lineaRoja">
                        
    </div>
    <p class="descripcion" style="text-align:center">
        <b>@(Model.Name)</b>
        <br />
        @(Model.Description)
    </p>