@{
    ViewBag.Title = "Certificaciones";
}

<div class="menuIzq">
    <p class="titulo">
        Certificaciones
    </p>
    <div class="lineaRoja">
                        
    </div>
    @for (int i = 0; i < Model.Count ; i++)
    {
        <div class="instancia">                        
            <img src="@Model[i].Image.ImagePath">
            @Ajax.ActionLink(" ", "ShowInstantCertification", "Public", new { id = (int)Model[i].CertificationId }, new AjaxOptions
            {
               UpdateTargetId = "contenedor",
               InsertionMode = InsertionMode.Replace,
               HttpMethod = "GET",
               OnBegin = "ajaxOnBegin('contenedor')",
               OnComplete = "ajaxOnComplete('contenedor')",
               OnSuccess = "ajaxOnSuccess('contenedor')",               
               LoadingElementDuration = 2000
            })
        </div>    
    }
</div>
<div class="contenedor" id="contenedor">
    @Html.Partial("_showInstantCertification", (RusoCars.Models.Certification)Model[0])
</div>
