@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
            </hgroup>
            <p>
                A través de ésta sencilla aplicación Usted podrá modificar todo el contenido de su sitio, mediante simples 
                formularios. Utilice los botones ubicados en la parte superior derecha para ver los distintos puntos modificables del mismo.
                <p>Ante cualquier duda, consultenos!</p>
            </p>
        </div>
    </section>
}
<h3>Le sugerimos hacer lo siguiente:</h3>
<ol class="round">
    <li class="one">
        <h5>Su primer contenido</h5>
        Empiece completando los formularios básicos de su sitio (ej: Home, Quienes Somos) para ir familiarizandose con el sistema. Recuerde que todos 
        los cambios que Usted realice, los verá reflejados luego de actualizar la página, ésto lo puede hacer rápidamente presionando la tecla F5.
    </li>

    <li class="two">
        <h5>Añadiendo Imágenes</h5>
        Le sugerimos que las imágenes sean de un tamaño fijo predefinido para no estropear la calidad de las mismas, si no recuerda
        cuál es el tamaño del cuál deben ser, contáctenos!
    </li>

    <li class="three">
        <h5>Reporte de errores</h5>
        Ante cualquier eventualidad, si usted nota que existe un error en la carga de los datos, o existe algún error, por favor 
        contactenos y lo resolveremos a la menor brevedad posible. 
    </li>
</ol>
